.root {
   -border-colour: teal;
}

.red-box-label {
  -fx-font-size: 25px;
  -fx-border-color: -border-colour;
  -fx-border-width: 1px;
}

.hex-tile {
  -fx-shape: "M 300,150 225,280 75,280 0,150 75,20 225,20 z";
    -fx-border-color: -border-colour;
    -fx-border-width: 1px;
    -fx-background-color: white;
}

.coordinate-label {
  -fx-font-size: 10px;
}

.hex-tile:hover {
  -border-colour: red;
}